
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;

  &:focus {
    outline: none;
  }
}

html, body {
  background: lighten($dark-grey, 75%);
  min-height: 100vh;
  overflow: auto;
  color: $dark-grey;
}

table {
  border: {
    spacing: 0;
    collapse: collapse;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
