//device dimensions
$mobile-width: 425px;
$tablet-width: 768px;
$laptop-large-width: 1440px;
$laptop-width: 1024px;

$bezier: cubic-bezier(.4,0,.2,1);

//color palette
$red: #f44336;
$green: #8bc34a;
$yellow: #ffeb3b;
$blue: #03a9f4;
$teal: #009688;
$orange: #ff9800;
$purple: #9b27af;
$grey: #eeeeee;
$medium-grey: #9e9e9e;
$dark-grey: #263238;
$white: #ffffff;

$darken-offset: 25%;

//app-header properties
$header-height: 60px;

// button properties
$button-height: 50px;

//shadow properties
$shadow-offset: 0 2px;
$shadow-blur: 10px;
$shadow-color: rgba(0,0,0,.1);

//news-component properties
$news-action-height: 40px;
$news-border-color: rgba(0,0,0,.1);
$news-padding: 20px;
$news-image-panel-width: 320px;
$news-image-width: 640px;

//ribbon properties
$ribbon-right-offset: 20px;

//input config
$input-border-width: 3px;

//avatar config
$avatar-small-width: 30px;
$avatar-medium-width: 50px;
$avatar-large-width: 140px;

//article body box config
$article-body-box-vertical-padding: 80px;

// z-index
$dropdown-index: 2;
$loader-index: 3;
$back-to-top-index: 4;
$toast-index: 5;
$loader-full-screen-index: 1000;