
@import "../../../../assets/scss/variables";

.tab-header__item {
  position: relative;
  display: inline-block;
  height: 100%;
  line-height: $header-height;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: $teal;
    transition: .2s $bezier;
  }

  &--active {
    background: rgba($teal, 0.07);

    &::after {
      left: 0;
      width: 100%;
    }
  }
}